*{
    margin: 0;
    padding: 0;

}

body{
    background: #0f172a;
    color: white;
}
header{
    position: fixed;
    
}
.navber{
    display: flex;
    justify-content: space-between;
}